nav{
    background-color: rgba(218, 241, 235, 0.981);
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;

}
.log{
    margin-right:6%;
   size: 50%;
}
.bg{
    background-image: "./images/g1.png";
}

.w-100 {
    width: 100% !important;
    height: 75vh;
  }
  h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 60PX;
  }
  .text1{
    font-size: large;
    text-align: center;
    color: white;
  }
  h2{
    color: brown;
  }
  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }
  .card{
    object-fit:cover;
    
}
.card .card-text{
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.text2 h1{
  text-align: center;
  font-size: 50px;
  color: antiquewhite;
}
.card-title{
  font-weight: bolder;
}